.banner-img {
    height: 14.2rem;
    width: auto;
  }

#logo{
    padding: 1rem;
}
.Header-logo{
    position: relative;
    display: flex;
    justify-content: space-between;
}
.client-logo {
    height: 4rem;
    padding: 1rem;
}
  